.container{
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.menuList{
  display: flex;
  list-style-type: none;
  /* font-family: 'Fira Sans', sans-serif; */
  font-family: 'NeueKabelW01-Light', sans-serif;
  font-weight: 100;
  font-size: 1.05em;
  position: sticky;
  top: 0;
  width: 100%;
  padding-left: 20px;
}

.menuListItem{
  padding-right: 30px;
}

.menuListItem:hover{
  cursor: pointer;
}

.menuKayemes{
  margin-left: auto;
  padding-right: 30px;
  font-family: 'P22CodaW01SC-SemiBoldSC', sans-serif;
}

.line{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 70px;
  border-top: 1px;
  margin-bottom: 15px;
}


.middle{
  position: relative;
}


.menuList{
  display: flex;
  list-style-type: none;
  /* font-family: 'Fira Sans', sans-serif; */
  font-family: 'NeueKabelW01-Light';
  font-weight: 100;
  font-size: 1.05em;
  position: sticky;
  top: 0;
  width: 100%;
  padding-left: 20px;
}


.imgHeader{
  display: flex;
  list-style-type: none;
  /* font-family: 'Fira Sans', sans-serif; */
  font-family: 'NeueKabelW01-Light';
  font-weight: 100;
  font-size: 1.15em;
  width: 100%;
  padding-left: 20px;
  margin-top: 4px;
}

.poster{
  width:100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* padding-bottom: 23%; */
  padding-top: 1%;
}

.imgHeaderItem{
  padding-right: 15%;
}

.footer{
  width: 100%;
  background-color: beige;
  color: black;
  /* height: 26%; */
  position: relative;
  display: flex;
  font-family: 'NeueKabelW01-Regular';
  padding: 20px;
}

.exhibition{
  font-family: 'NeueKabelW01-Regular';
}

.footerContact{
  color: black;
  font-size: 1.2em;
  width: 33%;
  /* padding: 20%; */
}

.footerKayemes{
  font-family: 'P22CodaW01SC-SemiBoldSC';
  font-size: 1.1em;
}

.footerContactText{
  font-family: 'NeueKabelW01-Light';
  font-size: .8em;
}

.footerFollow{
  color: black;
  font-size: 1.2em;
  width: 33%;
}

.footerHours{
  color: black;
  font-size: 1.2em;
  width: 33%;
}


.footerLine{
  margin-right: 20px;
  color: black;
  margin-top: 30px;
  background: black;
  border-top: 2px solid;
}







@media only screen and (max-width: 800px) {

  .footer{
    display: block;
    padding-bottom: 20%;
  }

  .footerContact{
    width: 100%;
  }

  .footerFollow{
    width: 100%;
  }
  
  .footerHours{
    width: 100%;
  }
  
  .menuListItem{
    display: none;
  }

}